@tailwind base;

/* @font-face {
  font-family: NeueMachina-Ultrabold;
  src: url('/fonts/NeueMachina-Ultrabold.oft');
  font-weight: bold;
}

html {
  font-family: NeueMachina-Ultrabold;
} */

a {
  @apply text-blue-700;
}

a:hover {
  @apply border-b-2 border-blue-700;
}

@tailwind components;

@tailwind utilities;

swiper-container {
  width: 100%;
  overflow: hidden;
}

swiper-slide {
  background-position: center;
  background-size: contain;
  width: 250px;
}

swiper-slide img {
  display: block;
  width: 100%;
}
